// --------------- HEADER ---------------
.header{
    
}
.header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
}

.logo{
    img {
        width: 100px;
    }
}
.header__menu{

}
.menu__list{
    display: flex;
    column-gap: 80px;
}
.menu__item{
    font-size: 20px;
    a {
        transition: all .3s ease-in-out;
        color: #000;

        &:hover {
            color:#3217b7;
        }   
    }

 

    
}

.menu__list2{
    display: flex;
    column-gap: 10px;
}
.menu__item2{
    img {
        width: 30px;
        height: 15px;
    }

    
}
.lang-tenerife{

}
.lang-blog{

}
.lang-contact{

}

.select_language {
    background-color: transparent;
    border: 2px solid #000;
    height:30px;
    width: 70px;
    color: #000;
    text-indent: 5px
    option {
        padding: 50px; 
    }
}

// --------------- MOBILE HEADER ---------------
.mobile_header__menu {
    position: relative;
    z-index: 1000;
    
    #mobile_menu__button {
        display: none;
        background: transparent;
        cursor: pointer;
        position: fixed;
        z-index: 200;
        width: 60px;
        height: 60px;
        margin: 15px 0 0 15px;
    
        img {
            width: 30px;
        }
    }
    
    .mobile_menu-active {
        position: fixed;
        width: 300px;
        height: 100%;
        background-color: #afa6a6;
        box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
        transform: translateX(-100%);
        transition: transform 0.3s ease, opacity 0.3s ease;
        z-index: 150;
       
        &.open {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
        .mobile_menu__list {
            .mobile_menu__item {
                padding: 10px;

                .mobile_header__contactus {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                
                    a {
                        color: #fff;
                
                        &:hover {
                            color: #ccc2c2;
                        }
                    }
                }
                
                a {
                    color: #333;
                    display: flex;
                    justify-content: center;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        color: #0659de;
                    } 
                }

                img {
                    width: 100px;
                }
            }
          }

    }
}

.select_language__mobile {
    text-align: center;
    margin-top: 30px;
    color: #000;
}

// CUSTOM DROP-DOWN LIST

// .custom-select {
//     position: relative;
//   }
  
//   .select-header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     background-color: #eee;
//     cursor: pointer;
//     padding: 10px;
//     border: 1px solid #ccc;

    
//   }

//   .selected-option {
//     img {
//         width: 50px;
//         height: 30px;
//     }
//   }
  
//   .arrow-down {
//     margin-left: 5px;
//     font-family: none;
//     width: 20px;
//   }
  
//   .options-list {
//     display: none;
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     border: 1px solid #ccc;
//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;
//     background-color: #fff;
//     z-index: 1;
//   }
  
//   .options-list li {
//     text-align: center;
//     padding: 10px;
//     cursor: pointer;

//     img {
//         width: 50px;
//         height: 30px;
//     }
//   }
  
//   .options-list li:hover {
//     background-color: #f0f0f0;
//   }
  


//---------------------- MOBILE ----------------------

@media (max-width: 998px) {
    .menu__list{
        column-gap: 50px;
    }
}

@media (max-width: 824px) {
    .header {
        display: none;
    }
    .mobile_header__menu {
        #mobile_menu__button{
            display: block;

        }
    }
    .menu__list{
        column-gap: 25px;
    }
    .menu__item {
        font-size: 18px;
    }
}


// @for $i from 0 to 2 {
//     $maxWidth: 628 - $i * 100;
  
//     @media (max-width: #{$maxWidth}px) {
//       .menu__item:nth-child(#{4 - $i}) {
//         display: none;
//       }
//     }
//   }


// @media (max-width: 380px) {
//     .menu__item:nth-child(1) {
//         display: none;
//     }
// }


