@import './base.scss';

.preloader_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $Background;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader {
    display: grid;
    place-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(
      from 180deg at 50% 50%,
      $Background 0deg,
      #5200ff 360deg
    );
    animation: spin 2s infinite linear;

    &::before {
        content: "";
        border-radius: 50%;
        width: 80%;
        height: 80%;
        background-color: $Background;
    }
}
  
@keyframes spin {
    to {
        transform: rotate(1turn);
    }   
}
  